:root{
    --primary-color : #304ffe;
    --primary-font : 'Poppins', sans-serif;
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
    font-size: 5rem;
}
